{% extends './shared/__template.html.twig' %}

{% block extraHead %}
    <link rel="stylesheet" href="{{BASE}}public/assets/css/hero.css" />
    <link rel="stylesheet" href="{{BASE}}public/assets/css/carrossel.css">
    <link rel="stylesheet" href="{{BASE}}public/assets/css/cards_duvidas.css">
{% endblock %}

{% block title %}Home{% endblock %}

{% block extraHeader %}
  <!-- Hero Zone -->
  <div class="hero-image">
    <div class="container" style="color: white; font-family: 'Poppins', sans-serif; max-width: 70%;"> <!-- estilos das letras do hero-->
      <div class="container">
        <h1>Site de viagens</h1>
        <p>
          Nos forneceremos a melhor experiencia possível em sua viagem
          <br /> "Quer fazer a viagem dos seus sonhos? Venha conosco. Nos fornecemos o melhor experiência possível em sua viagem dos sonhos"
        </p>
      </div>
    </div>
  </div>
  <!-- Hero End-->
{% endblock %}

{% block main %}
  <div class="container container-custom" style="max-width: 70%"> <!--div que limita a largura da pagina-->
      <!-- Descrição site-->
      <div class="row g-5"> <!--dividindo em colulas-->
        <div class="col"> <!-- coluna 2-->
          <h2>Lugares</h2>
          <p>
          Nos trabalhos com viagens ao redor do mundo todo, com diferentes tipos
          de transportes
          </p>
          <img src="{{BASE}}public/assets/img/placeholders/placeholder-06.jpg" class="img-fluid" />
        </div>

        <div class="col"> <!--coluna 1-->
          <img src="{{BASE}}public/assets/img/placeholders/placeholder-05.jpg" class="img-fluid" />
          <p style="padding: 1rem 0rem">
          Em nossos pacotes nos abrangemos os mais variados preços, para assim
          caber em seu bolso. E varias formas de locomoções como: avião, navio,
          trem, entre outros. E por ultimo reservamos pacotes com estadias em
          hotéis ou em casa, sempre visando a melhor experiência possível em sua
          viajem dos sonhos
          </p>
        </div>
      </div>
    <!-- Descrição End-->
    <!--Pacotes-->
    
    <div class="container container-custom" style="padding: 3rem 0rem; margin-top: 5%;">
      <h1>Veja alguns pacotes</h1><br/>
      	<div id="card_pacotes1"  class="carousel" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for package in packagesXML %}
                <div class="carousel-item
                  {% if loop.first %}
                    active
                  {% endif %}
                ">
                  <div class="pacotes_lista">
                      <div class="card_pacotes" style="width: 300px;">
                          <img src="{{BASE}}public/assets/img/imgs_cidades/imgs_pacotes/{{package.img}}" class="card-img-top" style="border-radius:0;" >
                          <div class="card-body">
                              <h5 class="card-title" style="color:black;">{{package.city}}</h5>
                              <p class="card-text" style="color:black;">
                                  <strong>Passagem{{package.type}}</strong> <br>
                              </p>
                              <p style="min-height:48px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
                                  {{package.time}} 
                              </p>  <br>
                              <p>R${{package.price}},00</p>
                              <div class="d-flex justify-content-center"><a href="/package/index/{{package.city}}/1/{{package.price}}/{{package.imgs}}" class="btn btn-dark" style="width:100%;">Ver detalhes</a>
                              </div><!--div d-flex justify-content-center END-->
                          </div>
                      </div>
                  </div>
              </div>
                
            {% endfor %}

          </div><!--carrosel inner END-->

          <a class="carousel-control-prev btn btn-outline-secondary btn-custom" id="btn_prev" type="button" data-bs-target="card_pacotes1" data-bs-slide="prev" >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next btn btn-outline-secondary btn-custom" id="btn_next" type="button" data-bs-target="card_pacotes1" data-bs-slide="next" >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </a>
        </div> <!--carrosel END-->

  	</div>
    <!--Pacotes End-->

    <!--Duvidas-->
    <!--Introdução duvidas-->
    <div class="container container-custom" style="height: 50px; padding: 3rem 0rem;">
      <div class="row" style="justify-content: space-evenly;">
        <div class="col">
         <h1>Ainda esta com duvida para onde ir?</h1>
          <p>
            Veja os paises mais populres, abaixo
          </p>      
        </div>
      </div>
    </div>
    <!--Introdução End-->

    <!--Cards duvidas-->
    <div class="container container-custom" style="padding: 3rem 0rem; margin-top: 5%;">
      <div class="row row-cols-3 row gx-2 row gy-4" style="margin-left: 5%;">

        <div class="col">
          <div class="card-container">
            <a href="#card1" onclick="desc('pais1')" >
              <div class="card" id="pais1">
                <h2>China</h2>
                <p>saiba mais</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-container">
            <a href="#card1" onclick="desc('pais2')">
              <div class="card" id="pais2">
                <h2>Brasil</h2>
                <p>saiba mais</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-container">
            <a href="#card1" onclick="desc('pais3')">
              <div class="card" id="pais3">
                <h2>EUA</h2>
                <p>saiba mais</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-container">
            <a href="#card1" onclick="desc('pais4')">
              <div class="card" id="pais4">
                <h2>Tailandia</h2>
                <p>saiba mais</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-container">
            <a href="#card1" onclick="desc('pais5')">
              <div class="card" id="pais5">
                <h2>Inglaterra</h2>
                <p>saiba mais</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-container">
            <a href="#card1" onclick="desc('pais6')">
              <div class="card" id="pais6">
                <h2>Singapura</h2>
                <p>saiba mais</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-container">
            <a href="#card1" onclick="desc('pais7')">
              <div class="card" id="pais7">
                <h2>França</h2>
                <p>saiba mais</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-container">
            <a href="#card1" onclick="desc('pais8')">
              <div class="card" id="pais8">
                <h2>Itália</h2>
                <p>saiba mais</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-container">
            <a href="#card1" onclick="desc('pais9')">
              <div class="card" id="pais9">
                <h2>Japão</h2>
                <p>saiba mais</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
    <!--fim cards duvidas-->

    <!--Descrição-->

    <div id="descricao_paises" style="display:none;" >
      <div class="row row-cols-3">

        <div class="col" id="card1">
          <div class="grid-container mx-auto">
            <div><img src="{{BASE}}" style="width: 300px;; height:400px; object-fit:cover;" class="img_desc"></div> <!--div de uma linha-->
            <h3 class="nome_cidade"></h3>
            <p class="descricao"></p>
          </div><!--fim div grid-container mx-auto-->
        </div>

        <div class="col" id="card2">
          <div class="grid-container mx-auto">
            <div><img src="{{BASE}}" style="width: 300px;; height:400px; object-fit:cover;" class="img_desc"></div> <!--div de uma linha-->
            <h3 class="nome_cidade"></h3>
            <p class="descricao"></p>
          </div><!--fim div grid-container mx-auto-->
        </div>

        <div class="col" id="card3">
          <div class="grid-container mx-auto">
            <div><img src="{{BASE}}" style="width: 300px;; height:400px; object-fit:cover;" class="img_desc"></div> <!--div de uma linha-->
            <h3 class="nome_cidade"></h3>
            <p class="descricao"></p>
          </div><!--fim div grid-container mx-auto-->
        </div>

      </div>
    </div>
    <!--Descrição End-->

  </div> <!--fim div largura-->

  <div class="footer-image">
    <div class="container" style="color:white; font-family:  'Poppins', sans-serif; max-width: 70%">
      <div class="container">
        <div class="text-center" style="padding: 8rem 0rem 4rem 0rem">
          <h1>Lorem ipsumdafdsfasdfasffasdfasdffadsfasd</h1>
          <p>Lorem ipsum dolor sit amet</p>
        </div>

        <div class="text-center">
          <h3>Lorem ipsum dolor</h3>
          <h5>0000-0000</h5>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}


{% block extraJS %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{BASE}}public/assets/js/carrossel.js"></script>
 
{% endblock %}
