{% extends './shared/__template.html.twig' %}

{% block extraHead %}
<link href="{{BASE}}public/assets/css/profile.css" rel="stylesheet">
<link href="{{BASE}}public/assets/css/package.css" rel="stylesheet">
{% endblock %}

{% block title %}{{packageName}}{% endblock %}

{% block main %}
<div class="container bg-white mt-5 mb-5 pe-4" style="min-height: 80vh;">
    <h3 class="p-2">{{packageName}}</h3>
    <div class="row">
        <div class="col-8">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for img in imgs %}
                        <div class="carousel-item
                        {% if loop.first %}
                        active
                        {% endif %}    
                        ">
                            <img src="{{BASE}}public/assets/img/imgs_xml_json/{{img}}.jpg" class="package-img" alt="...">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-4 border-custom" style="max-height: 200px; max-width: 450px">
            <h4>Seu pacote</h4>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"class="bi bi-person"viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/></svg> 
                {{numberOfPeople}}
                {% if numberOfPeople > 1 %}
                    Pessoas
                {% else %}
                    Pessoa
                {% endif %}
            </p>
            <div class="packge-price fw-bold fs-5">
                R${{price}}/diária
            </div>
            <div class="package-details">

            </div>
        </div>
    </div>
</div>
{% endblock %}