{% extends './shared/__template.html.twig' %}

{% block extraHead %}
<link href="{{BASE}}public/assets/css/profile.css" rel="stylesheet">
{% endblock %}

{% block title %}Cadastro{% endblock %}

{% block main %}
<div class="container bg-white mt-5 mb-5">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Configurações</h4>
                </div>
                <div class="container border-custom" style="max-width: 70%;">
                    <form method="post" action="">
                        <div class="d-flex justify-content-between align-items-center experience"><span><b>Informações da Conta</b></span><button class="btn btn-outline-dark btn-custom profileInfo" type="button" onclick="enableInput(true)">Editar Informações</button></div><br>
                            <div class="row">
                                <div class="col pb-3">
                                    <label class="labels">Nome Completo</label>
                                    <input type="text" class="form-control form-disabled" placeholder="enter your name" value="{{name}}" required disabled>
                                    <div class="profileInfo">
                                        {{name}}
                                    </div>
                                </div>
                                <div class="col-md-12 pb-3">
                                    <label class="labels">Telefone</label>
                                    <input type="text" class="form-control form-disabled" placeholder="enter phone number" value="{{phoneNumber}}" required disabled>
                                    <div class="profileInfo">
                                        {{phoneNumber}}
                                    </div>
                                </div>
                                <div class="col-md-12 pb-3">
                                    <label class="labels">Email</label>
                                    <input type="text" class="form-control form-disabled" placeholder="enter email id" value="{{email}}" required disabled>
                                    <div class="profileInfo">
                                        {{email}}
                                    </div>
                                </div>

                                <div class="col-md-12 pb-3">
                                    <label class="labels">Senha</label>
                                    <input type="text" class="form-control form-disabled" placeholder="experience" value="{{password}}" required disabled>
                                    <div class="profileInfo">
                                        {{password}}
                                    </div>
                                </div>
                                <div class="col-md-12 pb-3">
                                    <label class="labels">Confirmação de Senha</label>
                                    <input type="text" class="form-control form-disabled" placeholder="additional details" value="{{password}}" required disabled>
                                    <div class="profileInfo">
                                        {{password}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-outline-dark btn-custom form-disabled" type="submit">Salvar Alterações</button> <button class="btn btn-dark btn-custom form-disabled" type="button" onclick="enableInput(false)">Cancelar</button></div>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}

{% block extraJS %}
<script src="{{BASE}}public/assets/js/profile.js"></script>
{% endblock %}