{% extends './shared/__template.html.twig' %}

{% block extraHead %}
<link href="{{BASE}}public/assets/css/profile.css" rel="stylesheet">
{% endblock %}

{% block title %}Configurações{% endblock %}

{% block main %}
<div class="container bg-white mt-5 mb-5">
  <div class="p-3 py-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="text-right">Configurações</h4>
    </div>
    <div class="container border-custom" style="max-width: 70%">
      <form method="post" action="profile/save">
        <div
          class="d-flex justify-content-between align-items-center experience"
        >
          <span><b>Informações</b></span>
          <button
            class="btn btn-outline-dark btn-custom profileInfo"
            type="button"
            onclick="enableInput(true)"
          >
            Editar Informações
          </button>
        </div>
        <div class="row">
          <div class="col pb-3">
            <label class="labels">Nome Completo</label>
            <input
              type="text"
              class="form-control form-disabled"
              name="name"
              placeholder="enter your name"
              value="{{name}}"
              required
              disabled
            />
            <div class="profileInfo">{{name}}</div>
          </div>
          <div class="col-md-12 pb-3">
            <label class="labels">Telefone</label>
            <input
              type="text"
              class="form-control form-disabled"
              name="phoneNumber"
              placeholder="enter phone number"
              value="{{phoneNumber}}"
              required
              disabled
            />
            <div class="profileInfo">{{phoneNumber}}</div>
          </div>
          <div class="col-md-12 pb-3">
            <label class="labels">Email</label>
            <input
              type="text"
              class="form-control form-disabled"
              name="email"
              placeholder="enter email id"
              value="{{email}}"
              required
              disabled
            />
            <div class="profileInfo">{{email}}</div>
          </div>

          <div class="col-md-12 pb-3">
            <label class="labels">Senha</label>
            <input
              type="text"
              class="form-control form-disabled"
              name="password"
              placeholder="experience"
              value="{{password}}"
              required
              disabled
            />
            <div class="profileInfo">{{password}}</div>
          </div>
          <div class="col-md-12 pb-3">
            <label class="labels">Confirmação de Senha</label>
            <input
              type="text"
              class="form-control form-disabled"
              name="repeatPassword"
              placeholder="additional details"
              value="{{password}}"
              required
              disabled
            />
            <div class="profileInfo">{{password}}</div>
          </div>
        </div>

        <div class="mt-5 mb-4 text-center">
          <button
            class="btn btn-outline-dark btn-custom form-disabled"
            type="submit"
          >
            Salvar Alterações
          </button>
          <button
            class="btn btn-dark btn-custom form-disabled"
            type="button"
            onclick="enableInput(false)"
          >
            Cancelar
          </button>
        </div>

        <div class="mt-5 mb-4 text-center">
          <button
            class="btn btn-outline-danger btn-custom form-disabled"
            type="submit"
            formaction="profile/delete"
          >
            Deletar Minha Conta
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extraJS %}
<script src="{{BASE}}public/assets/js/profile.js"></script>
{% endblock %}